/*======================
    404 page
=======================*/

.page_404 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.page_404 img {
	width: 100%;
}

.four_zero_four_bg {
	background-image: url(../../../assets/img/rick.gif);
	height: 400px;
	background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
	font-size: 80px;
}

.four_zero_four_bg h3 {
	font-size: 80px;
}