<loader></loader>

<ul class="nav justify-content-center bg-light fixed-top">
    <li class="nav-item">
        <a class="nav-link active fw-bold text-black" aria-current="page" routerLink="episodes">Episodes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-black" routerLink="characters">Characters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-black" routerLink="locations">Locations</a>
    </li>
</ul>

<div class="container">
    <div class="px-4 py-4 my-4 text-center">
        <img src="assets/img/6975728_preview.png" alt="img" class="img-fluid img-w">
    </div>



    <router-outlet></router-outlet>
</div>